<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

    <!-- Basic Page Needs
      ================================================== -->
    <meta charset="utf-8">
    <title>Educenter - Education HTML Template</title>

    <!-- Mobile Specific Metas
      ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Educenter HTML Template v1.0">

    <!-- theme meta -->
    <meta name="theme-name" content="educenter" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/client/plugins/bootstrap/bootstrap.min.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="~/client/plugins/slick/slick.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="~/client/plugins/themify-icons/themify-icons.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/client/plugins/animate/animate.css">
    <!-- aos -->
    <link rel="stylesheet" href="~/client/plugins/aos/aos.css">
    <!-- venobox popup -->
    <link rel="stylesheet" href="~/client/plugins/venobox/venobox.css">

    <!-- Main Stylesheet -->
    <link href="~/client/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/client/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/client/images/favicon.png" type="image/x-icon">

</head>

<body>
    <!-- preloader start -->
    <div class="preloader">
        <img src="~/client/images/preloader.gif" alt="preloader">
    </div>
    <!-- preloader end -->
    <!-- header -->
    <header class="fixed-top header">
        <!-- top header -->
        <div class="top-header py-2 bg-white">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 text-center text-lg-left">
                        <a class="text-color mr-3" href="tel:+840972728001">+84 0972728001</a>
                        <ul class="list-inline d-inline">
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://www.facebook.com/hoctienganhbacgiang"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-github"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 text-center text-lg-right">
                        <ul class="list-inline">
                            
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/Admin">Admin Green Edu</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/Admin/Home/login" data-toggle="modal" data-target="#loginModal">Đăng nhập</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/Admin/Home/Register" data-toggle="modal" data-target="#signupModal">Đăng kí</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <div class="navigation w-100">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark p-0">
                    <a class="navbar-brand" href="#"><img src="~/admin/assets/img/favicon/favicon.jpg" width="200px" height="100px" alt="logo"></a>
                    <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Home/Index">TRANG CHỦ</a>
                            </li>
                            <li class="nav-item @@courses">
                                <a class="nav-link" href="/KhoaHoc/Index">KHÓA HỌC</a>
                            </li>
                            <li class="nav-item @@events">
                                <a class="nav-link" href="#">LỚP HỌC</a>
                            </li>
                            <li class="nav-item @@blog">
                                <a class="nav-link" href="/NhanVien/Index">GIẢNG VIÊN</a>
                            </li>
                            <li class="nav-item dropdown view">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Về trung tâm
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Giảng viên</a></li>
                                    <li><a class="dropdown-item" href="#">Học viên</a></li>
                                    <li><a class="dropdown-item" href="#">Chứng chỉ</a></li>
                                    <li><a class="dropdown-item" href="#">Sự kiện</a></li>
                                    <li><a class="dropdown-item" href="#">Đăng kí</a></li>
                                    <li><a class="dropdown-item" href="#">Học phí</a></li>
                                    <li><a class="dropdown-item" href="#">Tin tức</a></li>
                                    

                                    @*<li class="dropdown-item dropdown dropleft">
                                        <a class="dropdown-toggle" href="#" id="navbarDropdownSubmenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sub Menu
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu" aria-labelledby="navbarDropdownSubmenu">
                                            <li><a class="dropdown-item" href="#!">Sub Menu 01</a></li>
                                            <li><a class="dropdown-item" href="#!">Sub Menu 02</a></li>
                                            <li><a class="dropdown-item" href="#!">Sub Menu 03</a></li>
                                        </ul>
                                    </li>*@
                                </ul>
                            </li>
                            <li class="nav-item @@contact">
                                <a class="nav-link" href="/Home/Privacy">LIÊN HỆ</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- /header -->
    

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded-0 border-0 p-4">
                <div class="modal-header border-0">
                    <h3>Login</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="loginPhone" name="loginPhone" placeholder="Phone">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="loginName" name="loginName" placeholder="Name">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">ĐĂNG NHẬP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    @RenderBody()

    <!-- footer -->
    <footer>
        @*<!-- newsletter -->
        <div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
                        <h3 class="text-white">Subscribe Now</h3>
                        <form action="#">
                            <div class="input-wrapper">
                                <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
                                <button type="submit" value="send" class="btn btn-primary">Join</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- footer content -->
        <div class="footer bg-footer section border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
                        <!-- logo -->
                        <a class="logo-footer" href="index.html"><img class="img-fluid mb-4" src="~/admin/assets/img/favicon/favicon.jpg" width="200px" height="100px" alt="logo"></a>
                        <ul class="list-unstyled">
                            <li class="mb-2">216 Hoàng Văn Thụ, TP Bắc Giang, Bắc Giang</li>
                            <li class="mb-2">+1 (2) 0972 728 001</li>
                            <li class="mb-2">+1 (2) 0356 456 982</li>
                            <li class="mb-2">quanly@easyedu.vn</li>
                        </ul>
                    </div>
                    <!-- company -->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                        <h4 class="text-white mb-5">HỆ THỐNG ANH NGỮ QUỐC TẾ GREEN EDU</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" href="about.html">Giới thiệu</a></li>
                            <li class="mb-3"><a class="text-color" href="teacher.html">Giảng viên</a></li>
                            <li class="mb-3"><a class="text-color" href="contact.html">Liên hệ</a></li>
                            <li class="mb-3"><a class="text-color" href="blog.html">Blog</a></li>
                        </ul>
                    </div>
                    <!-- links -->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                        <h4 class="text-white mb-5">Xem</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" href="courses.html">Sự kiện</a></li>
                            <li class="mb-3"><a class="text-color" href="events.html">Thông báo</a></li>
                            
                        </ul>
                    </div>
                    <!-- support -->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                        <h4 class="text-white mb-5">HỖ TRỢ</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" href="https://themefisher.com/blog">Tài liệu</a></li>
                            <li class="mb-3"><a class="text-color" href="https://docs.themefisher.com/">Về trung tâm</a></li>
                            <li class="mb-3"><a class="text-color" href="#!">Ngôn ngữ</a></li>
                            
                        </ul>
                    </div>
                    <!-- support -->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                        <h4 class="text-white mb-5">NHÀ CUNG CẤP</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" href="https://themefisher.com/">SMS247</a></li>
                            <li class="mb-3"><a class="text-color" href="https://themefisher.com/">FPT</a></li>
                            <li class="mb-3"><a class="text-color" href="https://themefisher.com/">South Telecom</a></li>
                            <li class="mb-3"><a class="text-color" href="https://themefisher.com/">Conek (1SMS)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <div class="copyright py-4 bg-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 text-sm-left text-center">
                        <p class="mb-0">
                            Copyright &copy;
                            <script>
                                var CurrentYear = new Date().getFullYear()
                                document.write(CurrentYear)
                            </script>
                            , Đồ án tốt nghiệp: Xây dựng phần mềm quản lý lớp học sinh viên <a href="https://www.facebook.com/Boongyishyon" class="text-muted">Phùng Thị Tiến</a>
                        </p>
                    </div>
                    <div class="col-sm-5 text-sm-right text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="https://www.facebook.com/hoctienganhbacgiang"><i class="ti-facebook text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-twitter-alt text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-github text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-instagram text-primary"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <!-- jQuery -->
    <script src="~/client/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/client/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="~/client/plugins/slick/slick.min.js"></script>
    <!-- aos -->
    <script src="~/client/plugins/aos/aos.js"></script>
    <!-- venobox popup -->
    <script src="~/client/plugins/venobox/venobox.min.js"></script>
    <!-- filter -->
    <script src="~/client/plugins/filterizr/jquery.filterizr.min.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
    <script src="~/client/plugins/google-map/gmap.js"></script>

    <!-- Main Script -->
    <script src="~/client/js/script.js"></script>

</body>
</html>
